on:
  push:
    branches:
      - master

name: Build and Release
jobs:
  setup:
    env:
      BASE_PROJECT: armory-cli
      PVT_GITHUB_ACCESS_TOKEN: ${{ secrets.PVT_GITHUB_ACCESS_TOKEN }}
      GRGIT_USER: GitHub
      GRGIT_PASS: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.push_tag.outputs.new_tag }}
      changelog: ${{ steps.changelog.outputs.CHANGELOG }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Fetch full history
        run: git fetch --prune --tags --unshallow

      - name: Create Tag
        id: push_tag
        uses: mathieudutour/github-tag-action@v5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch
          release_branches: master
          create_annotated_tag: false
          append_to_pre_release_tag: rc

      - name: Fetch Refresh
        run: git fetch --prune --tags

      - name: Generate Changelog
        id: changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          export NEW_TAG="${{ steps.push_tag.outputs.new_tag }}"
          echo "NEW_TAG=$NEW_TAG"

          export PREVIOUS_TAG="${{ steps.push_tag.outputs.previous_tag }}"
          echo "PREVIOUS_TAG=$PREVIOUS_TAG"

          export CHANGELOG=`git log $NEW_TAG...$PREVIOUS_TAG --oneline`
          echo "CHANGELOG=$CHANGELOG"

          #Format the changelog so it's markdown compatible
          CHANGELOG="${CHANGELOG//$'%'/%25}"
          CHANGELOG="${CHANGELOG//$'\n'/%0A}"
          CHANGELOG="${CHANGELOG//$'\r'/%0D}"
          echo ::set-output name=CHANGELOG::$(echo -e "${CHANGELOG}")

  create-release:
    name: Create Release
    needs: setup
    runs-on: ubuntu-latest
    outputs:
      release-url: ${{ steps.create-release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "${{ needs.setup.outputs.version }}"
          release_name: ${{ github.event.repository.name }} ${{ needs.setup.outputs.version }}
          body: |
            ${{ needs.setup.outputs.changelog }}
          draft: false
          prerelease: false

  compile:
    env:
      PVT_GITHUB_ACCESS_TOKEN: ${{ secrets.PVT_GITHUB_ACCESS_TOKEN }}
    name: Compile Binaries and Upload to Release
    needs:
      - setup
      - create-release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ darwin, windows, linux ]
        arch: [ amd64, arm64 ]
        include:
          - os: windows
            arch: amd64
            ext: .exe
        exclude:
          - os: windows
            arch: arm64
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16.5'

      - name: Cache Dependencies
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: go-${{ hashFiles('**/go.sum') }}
          restore-keys: go-
      - name: Fix private repo access
        run: make pre

      - name: Build CLI
        env:
          VERSION: ${{ needs.setup.outputs.version }}
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          CLI_EXT: ${{ matrix.ext }}
        run: make build

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.release-url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./build/dist/${{ matrix.os }}_${{ matrix.arch }}/armory${{ matrix.ext }}
          asset_name: armory-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.ext }}
          asset_content_type: binary/octet-stream

  build-push:
    name: Push Docker Image
    needs:
      - setup
      - create-release
      - compile
    runs-on: ubuntu-latest
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: armory/armory-cli
          tags: |
            type=semver,pattern={{version}},value=${{ needs.setup.outputs.version }}

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BUILD_PATH=./build/dist/linux_amd64/armory
